/* Default */
body {
    margin: 0;
    font-family: monospace;
    min-height: 100vh;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    background-image: linear-gradient(to top right, #720020, #dddee2);
    color: #0e0f0f;
    font-size: 20px;
}


a {
    text-decoration: none;
    cursor: pointer;
}
a.Active_Link {
    color: #c80025;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 5px;
    text-decoration-color: #c80025;
    text-decoration-thickness: 3px;
    /* border-bottom: 3px solid lightseagreen; */ /*Different way of styling*/
}
a.Active_Link:hover {
    opacity: .8;
    text-decoration-thickness: 2px;
}








/*.Main_Background_Gradient {
    height: 100%;
}*/





/*------------------------------------ Navbar Modifications ------------------------------------*/
/* Navbar */
.Navbar {
    position: sticky;
    top: 0;
    margin: 0;

    height: 80px;
    width: 100vw;
    padding-top: 20px;
}





/* The main link in the Navbar */
.Main_Link {
    float: left;
    
    color: #890000;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;

    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 5%; /*Controls spacing after main (Home) link*/
    margin-bottom: 70px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    white-space: nowrap; /*Disabled text-wrapping*/
}


.Main_Link:hover {
    opacity: .8;
    transition: opacity .2s ease-in-out;
    color: white;
    text-decoration: underline;
    text-decoration-color: whitesmoke;
    text-decoration-thickness: 3px;
    transition: linear, .8s;

    height: 20px;
    /* width: 220px; */
    border-radius: 2px 0px 2px 0px;
    /*cursor: url('Images/Cursors/icons8-hand-cursor.svg'), pointer;*/ /*Temporary, feel free to use elsewhere...*/
}

/*I don't think this is being used at the moment */
/*.Main_Link_Active {
    float: left;

    color: rgb(70, 219, 157);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;

    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 35px;
    margin-bottom: 70px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}*/



/*The main links in the Navbar*/
.Main_Links_Padding {
    height: 100px;
    width: 100%;
    display: flex; /*Optional: aligns child items horizontally*/
    align-items: left;
    padding: 0px 0px 0px 0px; /*Optional: spacing inside the navbar*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Main_Links {
    float: left;
    margin-left: 35px;
    opacity: 1;
    color: white;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 10px;
}
.Main_Links:hover {
    opacity: .7;
    transition: opacity .2s ease-in-out;
    /*transition: linear .2s ease-in-out blue;*/
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 5px;
    color: white;
    text-decoration: none;
}












.Navbar_Icons_Right_Padding {
    float: right;
    margin-left: auto;
    margin-right: 35px;
    flex: 0 0 auto;
    justify-content: flex-end;
}


.Navbar_Icons {
    float: right;
    margin-top: 2px;
    opacity: 1;
}

.Navbar_Icons:hover {
    opacity: .65;
    transition: opacity .2s ease-in-out;
    cursor: alias;
}



























/*------------------------------------ Group ------------------------------------*/
/* Group */
.group {
    width: auto;
    max-width: 650px;
    text-align: center;

    margin-top: 2%;
    margin-bottom: auto;
    margin-left: 2%;
    margin-right: 45%;
}

.group label {
    display: block;
    padding: 20px 0;
}

.group input {
    border: none;
    outline: none;
    padding: 20px;
    width: calc(100% - 40px);
    border-radius: 10px;
    background-color: #eaeff2;
    color: black;
    font-size: 20px;
}

.group .power-container {
    background-color: #2E424D;
    width: 100%;
    height: 15px;
    border-radius: 5px;
}

.group .power-container #power-point {
    background-color: #0874a295; /*0874a2*/
    /*background-color: #0077ff;*/
    /*background: linear-gradient(to right, crimson, white);*/
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: 0.5s;
}



/* Top */
#top {
    color: #B63147;
}



/* Input Wrapper */
.input-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
}



/* Password */
#password {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 100px 10px 10px; /*Space for the copy button*/
    font-size: 1.2rem;
}



/* Field Buttons */
#generate-button,
#copy-button {
    color: #555; /*SVG inherits this*/
    position: absolute;
    right: 0%;
    top: 0%;
    cursor: copy; /*Other good option is "pointer"*/
    background: none;
    border: none;

    border-radius: 10px;
    margin-right: -10px;
    padding-top: 14px;
    padding-left: 11px;
    padding-right: 15px;
    padding-bottom: 11px;
}

#generate-button {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}

#copy-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#generate-button:hover,
#copy-button:hover {
    color: #760020;
}



