body {
    margin: 0;
    font-family: monospace;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top right, #720020, #dddee2);
    color: #0e0f0f;
    font-size: 20px;
}




/* Group */
.group {
    width: auto;
    text-align: center;

    margin-top: 0;
    margin-bottom: 25%;
}

.group label {
    display: block;
    padding: 20px 0;
}

.group input {
    border: none;
    outline: none;
    padding: 20px;
    width: calc(100% - 40px);
    border-radius: 10px;
    background-color: #eaeff2;
    color: black;
    font-size: 20px;
}

.group .power-container {
    background-color: #2E424D;
    width: 100%;
    height: 15px;
    border-radius: 5px;
}

.group .power-container #power-point {
    background-color: #0874a295; /*0874a2*/
    /*background-color: #0077ff;*/
    /*background: linear-gradient(to right, crimson, white);*/
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: 0.5s;
}



/* Top */
#top {
    color: #B63147;
}



/* Input Wrapper */
.input-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
}



/* Password */
#password {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 100px 10px 10px; /* space for copy + Edge icon */
    font-size: 1.2rem;
}



/* Copy Button */
#copy-button {
    color: #555; /*SVG inherits this*/
    position: absolute;
    right: 0%;
    top: 0%;
    border-radius: 10px;
    padding: 10px;
    padding-top: 11px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: copy; /*Other good option is "pointer"*/
    background: none;
    border: none;
}

#copy-button:hover {
    color: #760020;
}
